.weather {
  background-image: url(3192999_l.jpg);
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-top: 138px;
}

.container {
  opacity: 0.8;
}

h1 {
  font-size: 90px;
}

h2 {
  padding-top: 30px;
}

.box {
  padding-top: 38px;
}

.weatherMain {
  padding-top: 68px;
}